<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="2" rowHeight="350px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                 Crear Ticket
                                   
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                <div> <P  class="mat-display-4">
                    5
                </P> </div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                 Listar Tickets
                                  
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                <div>
                 <P  class="mat-display-4">
                     5
                 </P>   
                </div>
              </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
