<div class="container">
    <div class="back-button" fxLayoutAlign="start start">
        <button mat-icon-button color="secondary" routerLink="/users">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <mat-card>
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-subtitle>User Information</mat-card-subtitle>

            <div class="example-button-container" fxLayoutAlign="end end">
                <button type="button" mat-raised-button (click)="onSubmit()" color="secondary">
                    Save
                </button>
            </div>
        </mat-card-header>
        <form [formGroup]="form">
            <ng-container formGroupName="dataUser">
                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Full Name</mat-label>
                        <input matInput formControlName="name" placeholder="Placeholder">
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <mat-form-field fxFlex="49" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field fxFlex="49" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="phone" placeholder="Placeholder">
                    </mat-form-field>

                </div>
            </ng-container>

            <div fxLayout="row" fxLayoutAlign="space-between stretch">
                <mat-form-field fxFlex="49" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="userName" placeholder="Placeholder">
                </mat-form-field>

                <mat-form-field fxFlex="49" appearance="outline">
                    <mat-label>Category</mat-label>
                    <input matInput formControlName="categoryId" placeholder="Placeholder">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <button type="button" mat-raised-button (click)="showCredentials = !showCredentials" color="warn">
                    Gestionar Credenciales
                </button>
            </div>

            <div class="credentials" fxLayout="row" fxLayoutAlign="space-between">

                <mat-form-field *ngIf="showCredentials" appearance="outline" floatLabel="always" fxFlex="49">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" placeholder="Contraseña" [type]="hidePass ? 'password' : 'text'">
                    <mat-icon matSuffix style="cursor: pointer;" (click)="hidePass = !hidePass">{{hidePass ?
                        'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint>La Contraseña debe llevar mayusculas, minusculas y numeros</mat-hint>
                </mat-form-field>

                <mat-form-field *ngIf="showCredentials " appearance="outline" floatLabel="always" fxFlex="49">
                    <mat-label>Confirmar Contraseña</mat-label>
                    <input matInput placeholder="Confirmar Contraseña" [type]="hideConf ? 'password' : 'text'">
                    <mat-icon matSuffix style="cursor: pointer;" (click)="hideConf = !hideConf">{{hideConf ?
                        'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>

            </div>
        </form>
    </mat-card>
</div>